(
  axes: {
    "move": Emulated(pos: Key(Right), neg: Key(Left)),
  },
  actions: {
      "anim_change": [
          [Key(Space)]
      ],
      "jump": [
          [Key(Up)]
      ],
      "lift": [
          [Key(L)]
      ]
  },
)