(
  axes: {
    Move: Emulated(pos: Key(Right), neg: Key(Left)),
  },
  actions: {
      AnimChange: [
          [Key(Space)]
      ],
      Jump: [
          [Key(Up)]
      ],
      Lift: [
          [Key(L)]
      ]
  },
)